@import url('./general.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./back_to_top.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;

}

ul {
    list-style: none;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.brand-logo {
    align-self: center;
    width: 100px;
    margin: 0 24px 0 0;
}

@media (min-width: 768px) {
    .brand-logo {
        width: 125px;
    }
}

.left-item-relative .drop-down-menu {
    width: 10vw;
}

.left-item-relative .drop-down-menu-inner {
    display: block;
    padding: 0;
    box-shadow: none;
}

.left-item-relative .list-item {
    padding: 16px 48px 16px 32px!important;
}

.left-item-relative .item-link {
    text-decoration: none;
}

.left-item-relative .list-item:hover .item-link{
    color: #00754a!important;
}

.left-item-relative .item-link:hover {
    text-decoration: none!important;
}

.form {
    position: relative;
    margin-right: 24px;
}

.form input {
    padding: 12px 30px 10px 20px;
    border: 0;
    border-bottom: 1px solid #000;
}

input:focus~.form{
    border: 2px solid #000;
}

input::placeholder {
    font-size: 16px;
}

.item-search {
    position: absolute;
    top: 8px;
}

.item-arrow {
    position: absolute;
    right: 0;
    top: -1;
    padding: 10px;
}

.item-region {
    align-items: center;
}

.item-region:hover {
    color: #00754a;
}

.item-region svg:first-child{
   margin-right: 8px; 
}

.progress-bar {
    background-color: #00754a;
    height: 4px;

}

.drop-down-menu-list .list-item {
    padding-bottom: 32px;
}

/* top topic */

.top-topic {
    background-color: #1e3932;
}

.top-topic .thumb-art {
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 0;
}


.article-header {
    text-align: center;
    padding: 50px 0 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.article-category {
    margin-bottom: 16px;
}

.article-category .item-link{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px
}

.top-topic-heading {
    font-family: 'Lander', serif;
    font-size: 38px;
    color: #fff;
    letter-spacing: 3px;
    padding: 0 10px;
    margin: 0 auto 30px;
}

.top-topic-description {
    max-width: 850px;
    padding: 0 10px;
    margin: 30px auto;
    color: #ffffff8f;
    font-size: 16px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .top-topic-description {
        font-size: 22px;
    }

    .top-topic-heading {
        font-size: 48px;
    }

    .article-header {
        padding: 70px 0 20px;
    }

    .top-topic .thumb-art {
        padding: 36px 50px 0;
    }
}

.article-content {
    padding: 0 24px;
    margin-top: 60px;
}

@media (min-width: 1024px) {
    .article-content {
        padding: 0;
    }
}

.article-content > * {
    max-width: 700px;
    margin: 0 auto;
}

.article-content-heading {
    text-align: center;
    margin-bottom: 30px;
}

.article-content-heading .item-link {
    padding-bottom: 1px;
    border-bottom: 2px solid #00754a;
    color: #00754a;
    font-size: 28px;
    font-family: 'Lander', serif;
    letter-spacing: 1px;   
    transition: background-color 0.3s ease-in-out;
}

.article-content-heading .item-link:hover {
    background-color: #d4e9e2;
    transition: background-color 0.3s ease-in-out;
}

.article-content p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px auto 30px;
    font-weight: 300;
    color: #000000de;
}

.article-content p > .item-link {
    font-size: 20px;
    color: #00754a;
    padding-bottom: 1px;
    border-bottom: 2px solid #00754a;
    transition: background-color 0.3s ease-in-out;
}

.article-content p > .item-link:hover {
    background-color: #d4e9e2;
    transition: background-color 0.3s ease-in-out;
}

.article-content-sub-heading {
    text-align: center;
    color: #949494!important;
    font-size: 32px!important;
    font-weight: 700!important;
}

/* icon list */

.icon-list {
    margin-bottom: 24px;
}

.icon-list__list .list-item {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.text-content {
    font-size: 18px!important;
    font-weight: 400!important;
    margin: 0!important;
    flex-basis: 85%;
}

@media (min-width: 768px) {
    .text-content {
        font-size: 20px!important;
    }
}

.text-bold {
    text-transform: uppercase;
    font-weight: 700;
}

.icon-list__list .thumb-art {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    padding-right: 16px;
}

.block-button {
    text-align: center;
    margin: 20px auto 60px;
}

.article-content .item-bp {
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #00754a;
    border: 0;
}

.article-content .item-bp:hover {
    background-color: #008248;
}

.block-separator {
    width: 5%;
    height: 4px;
    border: 0;
    background-color: #000;
    margin: 20px auto 60px;
}

.separator-color-white {
    background-color: #fff;
    height: 30px;
    max-width: none;
    width: 100%;
}

.article-sub-content-heading {
    font-size: 36px;
    text-align: center;
    margin: 40px auto 30px;
}

@media (min-width: 768px) {
    .article-sub-content-heading {
        font-size: 40px;
    }
}

/* grid-news */

.grid-news {
    max-width: 925px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    padding: 0 16px;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .grid-news {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-news {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0);
    transition: box-shadow .8s ease-in-out;
}

.grid-item .thumb-art {
    overflow: hidden;
}

.grid-item-text-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 10px 10px 20px;
}

.item-title {
    font-size: 20px;
    font-weight: 600;
}

.item-date {
    font-size: 14px!important;
    padding-top: 30px;
    margin: 0!important;
}

@media (min-width: 768px) {
    .grid-item-text-content {
        padding: 30px;
    }

    .item-title {
        font-size: 24px;
    }
}

.grid-item img {
    transition: transform .8s ease-in-out;
}

.grid-item:hover img {
    transform: scale(1.2);
    transition: transform .8s ease-in-out;
}

.grid-item:hover {
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    transition: box-shadow .8s ease-in-out;
    cursor: pointer;
}

.grid-item:hover .item-title{
    color: #00754a;
}

/* pagination */

.pagination {
    justify-content: center;
    margin: 20px auto 60px;
}

.pagination ul {
    margin-right: 50px;
}


.pagination li {
    padding: 0 8px;
    color: #00754a;
    font-size: 14px;

}

.pagination li .item-link {
    padding-bottom: 1px;
    border-bottom: 1px solid #00754a;
    color: #00754a;
    font-size: 14px;
}

.pagination .item-link {
    color: #00754a;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

/* footer */

.footer {
    padding: 0 0 84px;
    box-shadow: none;
}

.footer-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
    border-top: 1px solid #000;
    
}



.footer-brand-logo {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    top: -40px;
}

.footer-inner ul{
    margin: 40px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    flex-direction: row!important;
}

@media (min-width: 768px) {
    .footer-inner ul{
        flex-direction: row;
    }
}

.footer-nav li {
    padding: 16px;
}

.footer-nav li .item-link {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-nav li .item-link:hover {
    color: #00754a;
    text-decoration: underline;
}

/* social */

.social-nav ul {
    column-gap: 30px;
}

.social-nav li {
    margin: 0 8px;
}

/* language switch */
.language-switch ul {
    align-items: flex-start;
}


.language-section {
    padding: 8px 24px;
}

.language-options {
    margin: 0!important;
}

.language-region {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.item-link-green {
    color: #00754a;
}

.language-options li:first-child .icon-wrapper{
    height: 20px;
    width: 20px;
    background-color: #00754a;
    color: #fff;
    padding: 1px 4px;
    margin-left: 10px;
    border-radius: 50%;
}

.language-options .item-link:hover {
    color: #00754a;
    text-decoration: underline;
}

/* terms */
.terms-link ul{
    margin-bottom: 0;
    flex-direction: row;
}

.terms-link li:not(:nth-child(2)) {
    padding: 10px 16px;
}

.terms-link li:nth-child(2) {
    margin: 10px 0;
    height: 16px;
    border-right: 1px solid #000;
}

.terms-link .item-link{
    text-transform: uppercase;
}

.terms-link .item-link:hover{
    color: #00754a;
    text-decoration: underline;
}

.footer__copyright {
    text-align: center;
}

.language-picker {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    display: none;
}

.language-picker-inner {
    max-width: 700px;
    margin: 64px auto 0;
    padding: 48px 64px;
    background-color: #fff;
    border-radius: 12px;
}

.language-picker-content {
    position: relative;
}

.picker {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}

.picker-heading {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 52px;
}

.picker-close {
    position: absolute;
    right: 0;
    top: 0;
}

.picker-close, .item-link-active {
    display: flex;
    align-items: center;
    color: #00754a
}

.picker-close .icon-wrapper svg {
    transform: rotate(45deg);
}

.icon-wrapper {
    width: 22px;
    height: 22px;
    border: 1px solid #00754a;
    border-radius: 50%;
    margin-left: 10px
}

.item-link-icon-wrapper {
    padding: 1px 4px;
    color: #fff;
    background-color: #00754a;
}


