* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

/* general */

.line-break {
    border: 0;
    margin: 0;
    padding: 32px 0;
}

.line-break::before {
    content: "";
    display: block;
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.sb-icon-hover {
    transition: all .2s ease-out;
    opacity: .1;
    transform-origin: center;
    transform: scale(.4);
    fill: transparent;
}

/* header */

.header {
    position: relative;
    z-index: 3;
}

.header__nav-bar {
    box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.17);
}

.brand-logo {
    width: 32px;
    height: 32px;
    margin: 16px 16px 16px 0;
}

.nav-bar-wrapper {
    padding: 0 8px;
}

.list-flex {
    display: flex;
    height: 72px;
}

@media screen and (min-width: 375px){
    .brand-logo {
        width: 40px;
        height: 40px;
    }
    
    .nav-bar-wrapper {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px){
    .brand-logo {
        width: 51px;
        height: 51px;
        margin-right: 24px;
    }
    
    .nav-bar-wrapper {
        padding: 0 24px;
    }
    
    .list-flex {
        height: 83px;
    }
}

@media screen and (min-width: 1024px) {
    .brand-logo {
        margin: 24px 40px 24px 0;
    }

    .list-flex {
        height: 99px;
    }

    .nav-bar-wrapper {
        padding: 0 40px;
    }
}

/* footer nav bar wrapper */

@media screen and (min-width: 1024px) {
    .footer-column-wrapper {
        display: flex;
    } 
}

/* footer column */

.footer-column {
    display: none;
}

.footer-column > .footer-column__title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 24px;
}

.footer-column .footer-column__item {
    padding: 8px 0;
    margin-bottom: 8px;
}

.footer-column .footer-column__item > .item-link {
    font-size: 16px;
    color: #00000094;
}

.footer-column-wrapper > .footer-column:not(:first-child) {
    margin-left: 32px;
}

@media screen and (min-width: 1024px) {
    .footer-column {
        display: block;
        max-width: 190px;
        width: 190px;
    }
}

/* footer */

.footer {
    padding: 32px 0 150px 0;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.23);
}

.footer__nav-bar {
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .footer__nav-bar {
        padding: 0 24px 0 99px;
    } 
}

@media screen and (min-width: 1024px) {
    .footer__nav-bar {
        padding: 0 40px 0 131px;
    } 
}

/* footer column drop down */

@media screen and (min-width: 1024px) {
    .footer-column-drop-down {
        display: none;
    }
}

/* footer - drop down button */

.drop-down-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 8px;
    width: 100%;
    color: #000000de;
    font-size: 16px;
}

.drop-down-button > .expander-icon {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

/* footer - drop down expander */

.drop-down-list-expander {
    position: relative;
    transition: height .35s ease-in-out;
}

.drop-down-list-expander-overflow {
    overflow-y: hidden;
}

.drop-down-list-expander > .footer-column__list {
    position: absolute;
}


.drop-down-list-expander .footer-column__item {
    padding: 8px 0;
    margin-bottom: 8px;
}

.drop-down-list-expander > .footer-column__list .item-link {
    font-size: 14px;
    color: #00000094;
}

@media screen and (min-width: 768px) {
    .drop-down-button {
        font-size: 19px;
    }

    .drop-down-list-expander > .footer-column__list .item-link {
        font-size: 16px;
    }
}

/* footer social icon */

.footer__social-links {
    display: flex;
}

.social-icon > .item-link {
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

.item-link:hover .sb-icon-hover {
    transform: scale(1);
    fill: currentColor;
}

@media screen and (min-width: 475px) {
    .social-icon {
        margin-right: 4px;
    }
}

/* footer - starbucks terms */

.sb-terms-links {
    margin-top: 16px;
}

.term-link {
    padding: 8px 0;
    margin-bottom: 4px;
}

.term-link > .item-link {
    color: #000000de;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .sb-terms-links {
        display: flex;
        margin: 16px 0 4px 0;
    }

    .term-link {
        padding: 0 24px;
        margin: 0;
        text-align: center;
    }

    .term-link > .item-link{
        font-size: 16px;
    }

    .term-link:first-child {
        padding-left: 0;
    }

    .term-link:not(:first-child) {
        border-left: 1px solid;
    }
}

/* footer - copyright */

.sb-copyright {
    padding: 16px 0;
    font-size: 13px;
    color: #00000094;
}

@media screen and (min-width: 1024px) {
    .sb-copyright {
        font-size: 14px;
    }
}