@import url('./general.css');
@import url('./header.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/* Header */
.list-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    margin: 0;
}

/* main content - heading container */

.heading-container {
    max-width: 525px;
    margin: 0 auto;
    padding: 24px 16px 0;
}

.heading-title {
    font-size: 20px;
    margin-bottom: 24px;
}

.heading-rewards {
    display: none
}

.heading-sub-title {
    font-size: 13px;
    font-weight: 400;
    color: #00000094;
    margin-bottom: 32px;
}

.heading-sub-title > a {
    font-size: 13px;
    color: #00000094;
    text-decoration: underline;
}

.heading-sub-title > a:hover {
   text-decoration: none;
}

@media screen and (min-width: 768px){
    .heading-container {
        text-align: center;
        padding: 48px 24px 0;
    }

    .heading-title {
        font-size: 28px;
        margin-bottom: 48px;
    }

    .heading-rewards {
        display: block;
        text-transform: uppercase;
        color: #00000094;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .heading-sub-title {
        font-size: 14px;
        padding: 0 8px;
        margin-bottom: 48px;
        letter-spacing: -0.16px;
    } 
}

@media screen and (min-width: 1024px){
    .heading-container {
        padding: 48px 40px 0;
    }
}

/* main content - form container */

.form-container {
    padding: 0 16px;
    margin-bottom: 64px;
    max-width: 525px;
}

.field-set-wrapper {
    padding-top: 16px;
}

.field-set__heading {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
}

.field-set {
    margin-bottom: 24px;
    padding: 8px;
}

.input-field {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #00000094;
    border-radius: 8px;
    font-size: 16px;
    margin: 24px 0;
    position: relative;
    display: flex;
    transition: all .2s linear;
}

.input-field__label {
    position: absolute;
    z-index: 2;
    transition: transform .2s ease-in;
    padding: 0 8px;
    left: 12px;
}

.m8-field {
    margin-bottom: 8px;
}

.input-field-description {
    margin-left: 16px;
}

.input-field__input {
    width: 100%;
    line-height: 10px;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}  

.field-status {
    position: absolute;
    top: 50px;
    transition: height .35s ease-in-out;
    
}

.field-status_inner {
    display: flex;
    align-items: center;
    color: #d62b1f;
    font-size: 14px;
}

.field-status__icon {
    margin-right: 8px;
}

.input-field__input:focus {
    outline: none;
}

.light-green {
    color: #00704a;
}

.input-field__label-focus {
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
    top: -10%;
    left: 12px;
    font-size: 13px;
    background-color: white;
    transition: all .2s ease-in;
    color:#00704a
}


.input-field__label-fail{
    color: #d62b1f;
}

.input-field__fail {
    border: 2px solid #d62b1f;
    transition: all .2s linear;
}
