* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/* general */

.hidden {
    display: none!important;
}

.line-break {
    border: 0;
    margin: 0;
    padding: 32px 0;
}

.line-break::before {
    content: "";
    display: block;
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.sb-icon-hover {
    transition: all .2s ease-out;
    opacity: .1;
    transform-origin: center;
    transform: scale(.4);
    fill: transparent;
}

/* header */

.header {
    position: relative;
    z-index: 3;
}

.header__nav-bar {
    box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.17);
}

.brand-logo {
    width: 32px;
    height: 32px;
    margin: 16px 16px 16px 0;
}

.nav-bar-wrapper {
    padding: 0 16px;
}

.list-flex {
    display: flex;
    height: 64px;
}

@media screen and (min-width: 375px){
    .brand-logo {
        width: 40px;
        height: 40px;
    }

    .list-flex {
        display: flex;
        height: 72px;
    }
}

@media screen and (min-width: 768px){
    .brand-logo {
        width: 51px;
        height: 51px;
        margin-right: 24px;
    }
    
    .nav-bar-wrapper {
        padding: 0 24px;
    }
    
    .list-flex {
        height: 83px;
    }
}

@media screen and (min-width: 1024px) {
    .brand-logo {
        margin: 24px 40px 24px 0;
    }

    .list-flex {
        height: 99px;
    }

    .nav-bar-wrapper {
        padding: 0 40px;
    }
}

/* main content - heading container */

.heading-container {
    max-width: 525px;
    margin: 0 auto;
    padding: 24px 16px 0;
}

.heading-title {
    font-size: 20px;
    margin-bottom: 24px;
}

.heading-rewards {
    display: none
}

.heading-sub-title {
    font-size: 13px;
    font-weight: 400;
    color: #00000094;
    margin-bottom: 32px;
}

.heading-sub-title > a {
    font-size: 13px;
    color: #00000094;
    text-decoration: underline;
}

.heading-sub-title > a:hover {
   text-decoration: none;
}

@media screen and (min-width: 768px){
    .heading-container {
        text-align: center;
        padding: 48px 24px 0;
    }

    .heading-title {
        font-size: 28px;
        margin-bottom: 48px;
    }

    .heading-rewards {
        display: block;
        text-transform: uppercase;
        color: #00000094;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .heading-sub-title {
        font-size: 14px;
        padding: 0 8px;
        margin-bottom: 48px;
        letter-spacing: -0.16px;
    } 
}

@media screen and (min-width: 1024px){
    .heading-container {
        padding: 48px 40px 0;
    }
}

/* main content - form container */

.form-container {
    padding: 0 16px;
    margin-bottom: 64px;
    max-width: 525px;
}

.field-set-wrapper {
    padding-top: 16px;
}

.field-set__heading {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
}

.input-field {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #00000094;
    border-radius: 8px;
    font-size: 16px;
    margin: 24px 0 48px 0;
    position: relative;
    display: flex;
    transition: all .2s linear;
}

.input-field__label {
    position: absolute;
    z-index: 2;
    transition: transform .2s ease-in;
    padding: 0 8px;
    left: 12px;

}

.input-field__input {
    width: 100%;
    line-height: 10px;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}  

.field-status {
    position: absolute;
    top: 50px;
    transition: height .35s ease-in-out;
    
}

.field-status_inner {
    display: flex;
    align-items: center;
    color: #d62b1f;
    font-size: 14px;
}

.field-status__icon {
    margin-right: 8px;
}

.input-field__input:focus {
    outline: none;
}

.light-green {
    color: #00704a;
}

.input-field__label-focus {
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
    top: -10%;
    left: 12px;
    font-size: 13px;
    background-color: white;
    transition: all .2s ease-in;
    color:#00704a
}


.input-field__label-fail{
    color: #d62b1f;
}

.input-field__fail {
    border: 2px solid #d62b1f;
    transition: all .2s linear;
}

/* footer nav bar wrapper */

@media screen and (min-width: 1024px) {
    .footer-column-wrapper {
        display: flex;
    } 
}

/* footer column */

.footer-column {
    display: none;
}

.footer-column > .footer-column__title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 24px;
}

.footer-column .footer-column__item {
    padding: 8px 0;
    margin-bottom: 8px;
}

.footer-column .footer-column__item > .item-link {
    font-size: 16px;
    color: #00000094;
}

.footer-column-wrapper > .footer-column:not(:first-child) {
    margin-left: 32px;
}

@media screen and (min-width: 1024px) {
    .footer-column {
        display: block;
        max-width: 190px;
        width: 190px;
    }
}

/* footer */

.footer {
    padding: 32px 0 150px 0;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.23);
}

.footer__nav-bar {
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .footer__nav-bar {
        padding: 0 24px 0 99px;
    } 
}

@media screen and (min-width: 1024px) {
    .footer__nav-bar {
        padding: 0 40px 0 131px;
    } 
}

/* footer column drop down */

@media screen and (min-width: 1024px) {
    .footer-column-drop-down {
        display: none;
    }
}

/* footer - drop down button */

.drop-down-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 8px;
    width: 100%;
    color: #000000de;
    font-size: 16px;
}

.drop-down-button > .expander-icon {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

/* footer - drop down expander */

.drop-down-list-expander {
    position: relative;
    transition: height .35s ease-in-out;
}

.drop-down-list-expander-overflow {
    overflow-y: hidden;
}

.drop-down-list-expander > .footer-column__list {
    position: absolute;
}


.drop-down-list-expander .footer-column__item {
    padding: 8px 0;
    margin-bottom: 8px;
}

.drop-down-list-expander > .footer-column__list .item-link {
    font-size: 14px;
    color: #00000094;
}

@media screen and (min-width: 768px) {
    .drop-down-button {
        font-size: 19px;
    }

    .drop-down-list-expander > .footer-column__list .item-link {
        font-size: 16px;
    }
}

/* footer social icon */

.footer__social-links {
    display: flex;
}

.social-icon > .item-link {
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

.item-link:hover .sb-icon-hover {
    transform: scale(1);
    fill: currentColor;
}

@media screen and (min-width: 475px) {
    .social-icon {
        margin-right: 4px;
    }
}

/* footer - starbucks terms */

.sb-terms-links {
    margin-top: 16px;
}

.term-link {
    padding: 8px 0;
    margin-bottom: 4px;
}

.term-link > .item-link {
    color: #000000de;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .sb-terms-links {
        display: flex;
        margin: 16px 0 4px 0;
    }

    .term-link {
        padding: 0 24px;
        margin: 0;
        text-align: center;
    }

    .term-link > .item-link{
        font-size: 16px;
    }

    .term-link:first-child {
        padding-left: 0;
    }

    .term-link:not(:first-child) {
        border-left: 1px solid;
    }
}

/* footer - copyright */

.sb-copyright {
    padding: 16px 0;
    font-size: 13px;
    color: #00000094;
}

@media screen and (min-width: 1024px) {
    .sb-copyright {
        font-size: 14px;
    }
}