/* @Hoang Minh Tu - 21011638 */
@import url('./header.css');
@import url('./footer.css');
@import url('./general.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

/* header */
@media screen and (min-width: 1520px){
    .nav-bar-wrapper {
        padding: 0 40px;
        max-width: unset;
        margin: unset;
    }
}

/* sub nav-bar */

.sub-navbar {
    background-color: #f9f9f9;
    border: 1px solid #dbd9d7;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 16px;
    
}

.sub-navbar-item {
    padding: 16px 0;
    margin-right: 16px;
    position: relative;
}
.sub-navbar-item > .item-link {
    font-size: 13px;
}

.sub-navbar-item:first-child > .item-link::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid ;
    position: absolute;
    left: 0;
    bottom: 10px;
}

@media screen and (min-width: 475px) {
    .sub-navbar-item {
        margin-right: 32px; 
    }
}

@media screen and (min-width: 768px) {
    .sub-navbar {
        padding-right: 24px;
        padding-left: 99px;
    }
}

@media screen and (min-width: 1024px) {
    .sub-navbar {
        padding-right: 40px;
        padding-left: 131px;
        position: sticky;
        top: 0;
    }
}

/* main content - content container*/

.content-container {
    display: flex;
}

@media screen and (min-width: 768px) {
    .content-container {
        padding-left: 99px;
    }
}

@media screen and (min-width: 1024px) {
    .content-container {
        padding-left: 131px;
    }
}

/* main content - aside navbar */

.aside-navbar {
    padding: 16px 0;
}

.aside-navbar .section-item {
    margin-top: 24px;
}

.list-item {
    margin: 16px 0;
}

.section-title {
    font-size: 19px;
    font-weight: 600;
}

.list-item > .item-link {
    font-size: 16px;
    color: #00000094;
}

.aside {
    display: none;
}

@media screen and (min-width: 1024px) {
    .aside {
        display: block;
        flex-basis: 150px;
    }
}

/* main content - menu section */

.main-content {
    padding: 32px 16px 0 16px;
    flex: 1 1 0;
}

.content-heading {
    padding-bottom: 24px;
    font-size: 20px;
}

.section-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.main-content .section-title {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 32px;
    font-size: 19px;
}

.section .section-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.section-item > .thumb-art {
    max-width: 72px; 
    overflow: hidden;
    margin-right: 16px;
}
  
.section-item > .thumb-art img {
    border-radius: 50%; 
}

.item-title > .item-link {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .main-content {
        padding-left: 0px;
    }

    .section-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-title > .item-link {
        font-size: 19px;
    }

    .content-heading {
        font-size: 28px;
        padding-bottom: 32px;
    }

    .main-content .section-title{
        font-size: 24px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px){
    .main-content {
        padding: 40px 10% 0px 119px;
    }

    .section-item > .thumb-art {
        max-width: 112px; 
    }

    .content-heading {
        font-size: 28px;
        padding-bottom: 48px;
    }
}

/* footer */
@media screen and (min-width: 768px) {
    .footer__nav-bar {
        padding: 0 24px 0 99px;
    } 
}

@media screen and (min-width: 1024px) {
    .footer__nav-bar {
        padding: 0 40px 0 131px;
    } 
}

@media screen and (min-width: 1520px) {
    .footer__nav-bar {
        padding: 0 40px 0 131px;
        max-width: unset;
        margin: unset;
    } 
}

/* bottom drawer fixed position*/

.bottom-drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.drawer-container {
    background-color: #1e3932;
    padding: 0 16px;
    height: 74px;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.drawer-content {
    width: 100%;
    margin: 16px 0;

    align-items: center;
}

.drawer-logo {
    margin: 16px 0 8px 24px;
}

.inner-button {
    color: #fff;

    align-items: center;
    padding-bottom: 4px;
    border-bottom: 2px solid #ffffff4d;
}

.inner-button__text {
    color: #ffffffb2;
    font-size: 14px;
}

.inner-button__text::after {
    content: ", choose a store";
    margin: 0;
    padding: 0;
}

.inner-button__text > span {
    text-transform: lowercase;
}

.inner-button > .expander-icon {
    width: 18px;
    height: 18px;
    margin-left: 8px;
}

.cart-img {
    width: 32px;
    height: 32px;
    
}

@media screen and (min-width: 768px) {
    .drawer-container {
        padding-left: 99px;
        height: 94px;
    }
}

@media screen and (min-width: 1024px) {
    .drawer-container {
        padding-left: 400px;
        padding-right: 10%;
    }

    .drawer-content {
        margin: 24px 0;
    }

    .inner-button {
        padding-bottom: 8px;
    }

    .inner-button__text {
        font-size: 16px;
    }

    .inner-button__text::after {
        content: "Choose a store";
        display: block;
        color: white;
        font-weight: 700;
        padding-top: 4px;
    }

    .inner-button > .expander-icon {
        margin-left: 80px;
    }

    .drawer-logo {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .drawer-container {
        padding-right: 20%;
    }
}
