* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    line-height: 1.5;
}

body, h1, h2, h3, h4, h5, h6, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

/* general class */

.hidden {
    display: none;
}

.item-link__location {
    display: flex;
    align-items: center;
    padding: 0 16px 0 0;
}

.item-link__location svg {
    width: 32px;
    padding: 0 8px 0 0;
}

.item-link__sign-in {
    margin: 0 16px 0 0;
}

.item-link__join-now {
    color: #fff;
    background-color: #000;
}

.item-link__sign-in:hover {
    background-color: rgba(0, 0, 0, .1);
}

.item-link__join-now:hover {
    background-color: rgba(0, 0, 0, .7);
}

.item-bp {
    padding: 7px 16px;
    border-radius: 50px;
    line-height: 1.2;
    border: 1px solid #000;
    display: inline-block;
    transition: all .2s ease;
}

.item-bp:active {
    transform: scale(0.95);
}

.item-hover-green:hover {
    color: #00754a;
}

.line-break {
    border: 0;
    margin: 0;
    padding: 32px 0;
}

.line-break::before {
    content: "";
    display: block;
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.sb-icon-hover {
    transition: all .2s ease-out;
    opacity: .1;
    transform-origin: center;
    transform: scale(.4);
    fill: transparent;
}

/* --- HEADER --- */

/* header */

.header {
    position: relative;
    z-index: 3;
}

.header__nav-bar {
    box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.17);
}

.brand-logo {
    width: 32px;
    height: 32px;
    margin: 16px 16px 16px 0;
}

.nav-bar-wrapper {
    padding: 0 16px;
}

.list-flex {
    display: flex;
    height: 64px;
}

@media screen and (min-width: 375px){
    .brand-logo {
        width: 40px;
        height: 40px;
    }

    .list-flex {
        height: 72px;
    }   
}

@media screen and (min-width: 768px){
    .brand-logo {
        width: 51px;
        height: 51px;
        margin-right: 24px;
    }
    
    .nav-bar-wrapper {
        padding: 0 24px;
    }
    
    .list-flex {
        height: 83px;
    }
}

@media screen and (min-width: 1024px) {
    .brand-logo {
        margin: 24px 40px 24px 0;
    }

    .list-flex {
        height: 99px;
    }

    .nav-bar-wrapper {
        padding: 0 40px;
    }
}

@media screen and (min-width: 1520px){
    .nav-bar-wrapper {
        padding: 0;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
}

@media screen and (min-width: 1702px) {
    .brand-logo {
        position: absolute;
        right: 100%;
    }    
}

.link-list-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (min-width: 789px){
    .link-list-container {
        justify-content: space-between;
    }
}

/* menu hamburger button */

.menu-hamburger-button {
    width: 44px;
    height: 100%;
    position: relative;
}

.hamburger-button {
    min-height: 44px;
    min-width: 44px;
    color: #00000094;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-button:hover .sb-icon-hover {
    transform: scale(1);
    fill: currentColor;
}

.hb-top-OPEN {
    transform: translateY(330%) rotate(-45deg);
    /* transition: transform 0.35s ease-in-out; */
}

.hb-bottom-OPEN {
    transform: translateY(calc(-1 * 330%)) rotate(-135deg);  
    /* transition: transform 0.35s ease-in-out; */
}

.hb-mid-OPEN {
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.hb-animation {
    transition: transform 0.35s ease-in-out;
}

.hb-animation-outer-lines {
    transform-box: fill-box;
    transform-origin: center;
}

/* menu hamburger mask - menu hamburger */

.menu-hamburger__mask {
    background: #000;
    opacity: 0.38;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    height: calc(100% - 64px);
}

.menu-hamburger {
    background-color: white;
    position: fixed;
    top: 64px;
    right: -700px;
    box-shadow: inset 0px 4px 3px -3px rgba(0,0,0,0.17);
    width: 80vw;
    height: calc(100% - 64px);
    padding-top: 32px;
    transition: right .3s ease-in-out;
}

.menu-hamburger-toggle {
    right: 0!important;
}

.menu-hamburger > .line-break {
    padding: 16px 32px 32px 32px;
}

.menu-lower {
    padding: 0 24px;
}

.item-link__location {
    margin-top: 16px;
}

@media screen and (min-width: 375px){
    .menu-hamburger__mask {
        top: 72px;
        height: calc(100% - 72px);
    }
    
    .menu-hamburger {
        top: 72px;
        height: calc(100% - 72px);
    }
}

@media screen and (min-width: 768px){
    .menu-hamburger__mask {
        top: 83px;
        height: calc(100% - 83px);
    }
    
    .menu-hamburger {
        top: 83px;
        height: calc(100% - 83px);
    }
}

@media screen and (min-width: 789px) {
    .menu-hamburger, .menu-hamburger__mask, .menu-hamburger-button {
        display: none;
    }
}

.menu-hamburger__item > .item-link {
    padding: 16px 32px;
    display: block;
    font-size: 19px;
}

@media screen and (min-width: 768px) {
    .menu-hamburger__item > .item-link {
        padding: 16px 32px;
        display: block;
        font-size: 24px;
    }
}

/* nav bar left - right */

.nav-bar__left, .nav-bar__right {
    display: none;
}

@media screen and (min-width: 789px) {
    .nav-bar__left, .nav-bar__right {
        display: flex;
    }

    .nav-bar__right {
        align-items: center;
    }

    .link-list-container {
        align-items: normal;
    }

    .nav-bar__left-item {
        display: flex;
        align-items: center;
    }
}

.nav-bar__left-items {
    display: flex;
}

.nav-bar__left-item .item-link {
    font-size: 0.88rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.nav-bar__left-item:nth-child(2){
    box-shadow: inset 0 -6px #00754a;
}

.nav-bar__left-item:not(:first-child) {
    margin: 0 0 0 24px;
    
}

.nav-bar__right a {
    font-size: 14px;
    font-weight: 600;
}

.item-link__location-wrapper > .item-link__location {
    margin-top: 0px;
}

.item-link__location-wrapper {
    margin: 0 40px 0 0;
}

/* --- SUB NAV BAR --- */

/* sub nav-bar */

.sub-navbar {
    background-color: #1e3932;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 16px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.25);
}

.sub-navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sub-navbar__title {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    flex-basis: 50%;
    letter-spacing: 1.5px;
    line-height: 19.5px;
}

.sub-navbar-link {
    color: #fff;
    font-size: 14px;
    padding: 7px 16px;
    border-color: #fff;
    font-weight: 600;
}

.sub-navbar-link:hover {
    background-color: rgba(0, 0, 0, .2)
}

@media screen and (min-width: 768px) {
    .sub-navbar {
        padding-right: 24px;
        padding-left: 99px;
    }

    .sub-navbar-link {
        display: none;
    }

    .sub-navbar__title {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .sub-navbar {
        padding-right: 40px;
        padding-left: 131px;
    }
}

@media screen and (min-width: 1520px) {
    .sub-navbar {
        padding: 0;
    }

    .sub-navbar-inner {
        max-width: 1440px;
        margin: 0 auto;
    }
}


/* --- MAIN --- */

/* main content */
.section {
    margin: 32px 0;
}

.section-no-mt {
    margin-top: 0px;  
}

.section-no-mt > .section-inner {
    padding: 0;
}

.section-inner {
    padding: 0 16px;
}

.text-content {
    text-align: center;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
}

.section-sub-title {
    font-size: 14px;
    margin-top: 16px;
}

@media screen and (min-width: 375px){
    .section-title {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px){
    .section {
        margin: 64px 0;
    }

    .section-no-mt {
        margin-top: 0px;  
    }

    .section-inner {
        padding: 0 24px;
    }

    .section-title {
        font-size: 28px; 
    }
    
    .section-sub-title {
        font-size: 16px;
    }
}

/* main content - img background - section no margin top */

.section-no-mt .section-inner__background {
    background-color: #d4e9e2;
    background-image: url(./img/rewards-big.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.clearfix {
    width: 100%;
    display: flex;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.float-left {
    padding-bottom: 133.333%;
    float: left;
    width: 0;
}

.section-no-mt .section-inner__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-no-mt .text-content {
    padding: 32px 16px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.section-no-mt .section-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.section-no-mt .section-sub-title {
    font-size: 16px;
    margin-top: 16px;
}

.section-no-mt .section-links-container {
    margin-top: 32px;
}

.section-no-mt .section-links-container > .item-bp {
    border: 0;
    background-color: #00754a;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.section-no-mt .section-links-container .item-link {
    display: inline-block;
    text-decoration: underline;
    margin-top: 16px;
    font-size: 16px;
}

.max-res-bp {
    display: none;
}

.max-res-link {
    display: none;
}

@media screen and (min-width: 375px) {
    .section-no-mt .section-title {
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 768px){
    .section-no-mt .section-inner__background {
        background-color: #d4e9e2;
        background-image: url(./img/background-img-768.webp);
        background-size: auto 100%;
        background-position: 50%;
    }

    .clearfix {
        max-width: 1440px;
        margin: 0 auto;
    }

    .float-left {
        padding-bottom: 56.25%;
    }

    .section-no-mt .section-inner__text {
        justify-content: flex-start;
        align-items: center;
    }

    .section-no-mt .text-content {
        padding: 32px 24px;
        max-width: 400px;
        min-width: 48%;
        margin: initial;
        text-align: left;
    }

    .section-no-mt .section-title {
        font-size: 36px;
    }

    .section-no-mt .section-sub-title {
        font-size: 19px;
    }

    .section-no-mt .section-links-container > .item-bp {
        font-size: 16px;
    }

    .section-no-mt .section-links-container .item-link {
        font-size: 19px;
    }

    .mobile-res-bp, .mobile-res-link {
        display: none!important;
    }

    .max-res-bp, .max-res-link {
        display: inline-block;
    }

    .max-res-link {
        font-size: 19px;
    }
}

@media screen and (min-width: 1024px) {
    .section-no-mt .text-content {
        padding: 32px 40px;
    }
}

/* main content - section 2 */

.thumb-nail-column {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
}

.thumb-nail-row {
    display: flex;
    margin-bottom: 32px;
}

.thumb-art {
    max-width: 120px;
    padding-right: 16px;
}

.thumb-art > img {
    width: 48px;
}

.thumb-nail__title {
    font-size: 16px;
    font-weight: 600;
}

.thumb-nail__description {
    font-size: 14px;
    color: #000000de;
    padding-top: 16px;
}

.thumb-nail__description > .item-link {
    color: #006241;
    font-size: 14px;
    text-decoration: underline;
}

.max-res-title, .max-res-description {
    display: none;
}

@media screen and (min-width: 768px){
    .thumb-nail-column {
        flex-direction: row;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .thumb-nail-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        margin: 0 24px;
    }

    .thumb-nail-row:first-child {
        margin-left: 24px;
    }

    .thumb-nail-row:last-child {
        margin-right: 24px;
    }

    .thumb-nail__title {
        font-size: 19px;
    }
    
    .thumb-nail__description {
        font-size: 16px;
    }
    
    .thumb-nail__description > .item-link {
        font-size: 16px;
    }

    .thumb-art {
        padding-bottom: 16px;
        padding-right: 0;
    }

    .thumb-nail-text {
        text-align: center;
    }

    .mobile-res-title, .mobile-res-description {
        display: none;
    }

    .max-res-title, .max-res-description {
        display: block;
    }
}

/* main content - section 3 */

.section:nth-child(3) .section-inner {
    background-color: #d3e8e154;
    padding: 0;
}

.section:nth-child(3) .section-inner__text {
    padding-top: 48px;
}

.section:nth-child(3) .section-title {
    padding-bottom: 16px;
}

.button-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
}
.item-button {
    width: 100%;
    padding: 8px 8px 16px 8px;
    position: relative;
    color: #000000de;
}
.item-button__text {
    font-size: 19px;
    font-weight: 600;
}
.text-star{
    font-size: 14px;
    color: #cba258!important;
}
.button-slider {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: 0;
    background-color: #006241;
    transition: all .35s ease-in-out;
}

.section:nth-child(3) .thumb-nail-row {
    box-shadow: inset 0 8px 10px -8px rgba(0, 0, 0, 0.17);
    background-color: #d4e9e2;
    padding-bottom: 48px;
    margin: unset;
    display: flex;
    flex-direction: column;
}

.section:nth-child(3) .thumb-art {
    width: 100%;
    max-width: 100%;
    padding: 32px 0;
}

.section:nth-child(3) .thumb-art > img {
    width: 100%;
}

.section:nth-child(3) .thumb-nail__title {
    font-size: 19px;
}

.section:nth-child(3) .thumb-nail-text {
    text-align: center;
    padding: 0 16px;
}

/* --- FOOTER --- */

/* footer */

.footer {
    padding: 32px 0 150px 0;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.23);
}

.footer__nav-bar {
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .footer__nav-bar {
        padding: 0 24px 0 24px;
    } 
}

@media screen and (min-width: 1024px) {
    .footer__nav-bar {
        padding: 0 40px 0 40px;
    } 
}

/* footer nav bar wrapper */

@media screen and (min-width: 1024px) {
    .footer-column-wrapper {
        display: flex;
    } 
}

/* footer column */

.footer-column {
    display: none;
}

.footer-column > .footer-column__title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 24px;
}

.footer-column .footer-column__item {
    padding: 8px 0;
    margin-bottom: 8px;
}

.footer-column .footer-column__item > .item-link {
    font-size: 16px;
    color: #00000094;
}

.footer-column-wrapper > .footer-column:not(:first-child) {
    margin-left: 32px;
}

@media screen and (min-width: 1024px) {
    .footer-column {
        display: block;
        max-width: 190px;
        width: 190px;
    }
}

/* footer column drop down */

@media screen and (min-width: 1024px) {
    .footer-column-drop-down {
        display: none;
    }
}

/* footer - drop down button */

.drop-down-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 8px;
    width: 100%;
    color: #000000de;
    font-size: 16px;
}

.drop-down-button > .expander-icon {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

/* footer - drop down expander */

.drop-down-list-expander {
    position: relative;
    transition: height .35s ease-in-out;
}

.drop-down-list-expander-overflow {
    overflow-y: hidden;
}

.drop-down-list-expander > .footer-column__list {
    position: absolute;
}

.drop-down-list-expander .footer-column__item {
    padding: 8px 0;
    margin-bottom: 8px;
}

.drop-down-list-expander > .footer-column__list .item-link {
    font-size: 14px;
    color: #00000094;
}

@media screen and (min-width: 768px) {
    .drop-down-button {
        font-size: 19px;
    }

    .drop-down-list-expander > .footer-column__list .item-link {
        font-size: 16px;
    }
}

/* footer social icon */

.footer__social-links {
    display: flex;
}

.social-icon > .item-link {
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

.item-link:hover .sb-icon-hover {
    transform: scale(1);
    fill: currentColor;
}

@media screen and (min-width: 475px) {
    .social-icon {
        margin-right: 4px;
    }
}

/* footer - starbucks terms */

.sb-terms-links {
    margin-top: 16px;
}

.term-link {
    padding: 8px 0;
    margin-bottom: 4px;
}

.term-link > .item-link {
    color: #000000de;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .sb-terms-links {
        display: flex;
        margin: 16px 0 4px 0;
    }

    .term-link {
        padding: 0 24px;
        margin: 0;
        text-align: center;
    }

    .term-link > .item-link{
        font-size: 16px;
    }

    .term-link:first-child {
        padding-left: 0;
    }

    .term-link:not(:first-child) {
        border-left: 1px solid;
    }
}

/* footer - copyright */

.sb-copyright {
    padding: 16px 0;
    font-size: 13px;
    color: #00000094;
}

@media screen and (min-width: 1024px) {
    .sb-copyright {
        font-size: 14px;
    }
}