@import url('./hoangminhtu_css/header.css');
@import url('./hoangminhtu_css/footer.css');
@import url('./hoangminhtu_css/general.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;

}

ul {
    list-style: none;
}

/* Header */
@media screen and (min-width: 1702px) {
    .brand-logo {
        position: absolute;
        right: 100%;
    }    
}

/* main content */

.main__content-container {
    max-width: 1440px;
    margin: 32px auto;
}

.content-container-inner {
    background-color: #006241;
}

.thumb-art {
    justify-content: center;
    align-items: center;
}

.banner-text-content {
    justify-content: center;
    align-items: center;
    padding: 32px 16px; 
}

.banner-text-content__inner > * {
    color: white;
}

.text-center {
    text-align: center;
}

.light-hover-bg:hover {
    background-color: rgba(0,0,0,.1);
}

.banner-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 1.2;
}

.main__content-container:last-child .banner-title {
    font-size: 19px;
}

.main__content-container:last-child .banner-description {
    font-size: 16px;
}

.banner-description {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
}

.banner-button {
    display: inline-block;
    border-color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 32px;
}

.banner-button:hover {
    background-color: rgba(0,0,0,.2);
}

.flex-reverse {
    flex-direction: row-reverse;
}

.dark-green-background {
    background-color: #1e3932;
}

.yellow-background {
    background-color: #d69a2d;
}

.dark-green-text-color > * {
    color: #1e3932;
}

.dark-green-border {
    border-color: #1e3932;
}

@media screen and (min-width: 375px) {
    .banner-title {
        font-size: 28px;
    }

    .banner-description {
        font-size: 22px;
    }
    
    .main__content-container:last-child .banner-title {
        font-size: 22px;
    }
    
    .banner-button {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .banner-flex {
        display: flex;
    }

    .thumb-art {
        width: 50%;
    }

    .banner-text-content {
        padding: 32px 24px;
        flex-basis: 50%;
    }

    .banner-description {
        font-size: 24px;
    }

    .main__content-container:last-child .banner-title {
        font-size: 24px;
    }

    .main__content-container:last-child .banner-description {
        font-size: 19px;
    }

    .banner-text-content__inner {
        max-width: 85%;
    }
}

@media screen and (min-width: 1024px) {
    .banner-text-content {
        padding: 32px 40px;
    }

    .banner-title {
        font-size: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .banner-text-content {
        padding: 32px 48px;
    }
}

