* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body, h1, h2, span, p {
    font-family: "SoDo Sans", Arial, Helvetica, sans-serif;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul {
    list-style: none;
}

.location{
    display: flex;
    align-items: center;
    padding: 0px 16px 0px 0px;
}
.location svg {
    width: 32px;
    padding: 0px 8px 0px 0px;
}

.watch-icon {
    display: flex;
    align-items: center;
}

.watch-video{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0px 16px 0px 0px;
}
.watch-video svg {
    width: 20px;
    color: rgb(255, 255, 255);     
    font-weight: 600;
    letter-spacing: normal;
    line-height: 19.2px;
    height:20px;
    margin-right: 5px;
}

.watch-video span {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: normal;
    line-height: 19.2px;
}

.sign-in {
    margin: 0 16px 0 0;
}
.sign-in:hover {
    background-color: rgba(0, 0, 0, .1);
}

.join-now {
    color: #fff;
    background-color: #000;
}
.join-now:hover {
    background-color: rgba(0, 0, 0, .7);
}

.item-discoloration{
    padding: 7px 16px;
    border-radius: 50px;
    line-height: 1.2;
    border: 1px solid #000;
    display: inline-block;
    transition: all .2s ease;
    cursor: pointer;
}
.item-discoloration-white {
    padding: 7px 16px;
    border-radius: 50px;
    line-height: 1.2;
    border: 1px solid white;
    display: inline-block;
    transition: all .2s ease;
    cursor: pointer;
}
.item-discoloration-green{
    padding: 7px 16px;
    border-radius: 50px;
    line-height: 1.2;
    border: 1px solid rgb(0, 117, 74);
    display: inline-block;
    transition: all .2s ease;
    cursor: pointer;
}   

.change{
    color: rgb(0, 117, 74);
    margin: 8px 8px 8px 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: -0.16px;
}

.change:hover {
    background-color: rgba(21, 145, 77, 0.123);
}

.watch-video:hover{
    background-color: rgba(0, 0, 0, .1);
}   

.item-hover-green:hover {
    color: #00754a;
}
.item-hover-black:hover{
    color: black;
}

.sb-icon-hover {
    transition: all .2s ease-out;
    opacity: .1;
    transform-origin: center;
    transform: scale(.4);
    fill: transparent;
}

/*header*/
.header {
    position: relative;
    z-index: 3;
}

.header__navbar{
    box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.17);
}

.header-logo{
    width: 51px;
    height: 51px;
    margin: 25px 16px 30px 40px;
}

.list-flex {
    display: flex;
    height: 99px;
    padding: 0px 8px 0px 0px;
    
}

.list-item{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.list-item-left, .list-item-right{
    display: flex;
}

.left-item{
    margin-left: 15px;
}

.left-item{
    display: flex;
    height:21px;
}

.item{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.left-item:not(:first-child) {
    margin: 0 0 0 24px;
}

.list-item-right {
    margin-right: 32px;
    margin-left: 40px;
}

.list-item-right a {
    font-size: 14px;
    font-weight: 600;
}

.location-icon > .location {
    margin-top: 0px;
}

.location-icon {
    margin: 0 40px 0 0;
}
/*<--->*/

/* sub nav-bar */
.sub-nav {
    background-color: rgb(237, 235, 233);
    width: 100%;
    padding: 0px 40px 0px 131px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0px 2px 0px rgba(0,0,0,0.24);
}
.sub-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-nav-menu-items {
    display: flex;
}
.menu-item-dropdown svg{
    width: 14px;
    height:14px ;
    margin-left: 5px;
}
.sub-item {
    margin-left:40px ;
    width: auto;
    height: 48px;
}
.menu-item {
    padding-top:13.5px;
    position: relative;
}
.menu-item-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.menu-item-dropdown-list {
    position: absolute;
    background-color: #fff  ;
    top: 47px;
    width: 250px;
    display: none;
}
.sub-item:hover .menu-item-dropdown-list {
    display: block;
}
.dropdown-list-item {
    padding: 10px 20px 10px 15px;
}
.list-item span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-list-item:hover {
    background-color: rgb(206, 203, 203);
}   
.text-title-head {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 1.4px;
}
/*<--->*/

/* main page */
.main{
    display: flex;
    background-color: #f9f9f9
}
.left-container {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    background-color: rgb(0, 0, 0);
    background-size: 770px 1310px;
    background-image:url(./img/backgroud-img.jpg);
    background-attachment: fixed;
    width: 748.1px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: 0;
}
.right-container {
    width: 1108.2px;
}
.left-container-relative {
    width: 750px;
    bottom: 0px;
    z-index: 100;
    position: fixed;
    padding: 32px 112px 62px 112px;   
    background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.01) 8.1%,rgba(0,0,0,.039) 15.5%,rgba(0,0,0,.083) 22.5%,rgba(0,0,0,.14) 29%,rgba(0,0,0,.207) 35.3%,rgba(0,0,0,.282) 41.2%,rgba(0,0,0,.36) 47.1%,rgba(0,0,0,.44) 52.9%,rgba(0,0,0,.518) 58.8%,rgba(0,0,0,.593) 64.7%,rgba(0,0,0,.66) 71%,rgba(0,0,0,.717) 77.5%,rgba(0,0,0,.761) 84.5%,rgba(0,0,0,.79) 91.9%,rgba(0,0,0,.8));
}
.text-bold {
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 700;
    line-height: 28.5px;
    letter-spacing: 1.9px;
    margin-bottom: 16px;
}
.text-md {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.16px;
}
.watch-video {
    display: flex;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;   
    line-height: 19.2px;
}
.watch-icon {
    padding-top:24px;
}

.heading-content-inner {
    margin: 40px 154.094px 16px 154.094px;
    padding: 0px 40px;
}
.content-text {
    color: rgba(0, 0, 0, 0.75);
    font-size: 36px;
    font-weight: 400;
    line-height: 46.44px;
    letter-spacing: -0.16px;
}

.heading-title-inner {
    margin: 16px 154.094px;
    padding: 0px 40px;
}
.title-text {
    color: rgba(0, 0, 0, 0.58);
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: -0.16px;
}
.our-misson {
    margin: 32px 154.094px;
    padding: 0px 40px;
    color: rgba(0, 0, 0, 0.58);
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: -0.16px;
}
.second {
    margin-top:32px;
}

.right-items-img {
    margin: 32px 154.094px 64px 154.094px;
    padding: 0px 40px;
}
.a-culture-of-inclusion-img {
    width: 720px;
    height: 300px;
    margin-bottom: 16px;
}
.a-culture-of-inclusion-title {
    padding: 0px 40px;
}
.head-title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    font-weight: 700;
    line-height: 28.5px;
    letter-spacing: -0.16px;
    margin-bottom: 16px;
}
.title-item {
    color: rgba(0, 0, 0, 0.58); 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}
.space {
    height: 24px;
}
.text-hoder-effect {
    color: rgb(0, 117, 74);
    text-decoration: underline;
}
.text-hoder-effect:hover {
    text-decoration: none;
}

.corporate-and-social-responsibility {
    margin: 16px 154.094px 32px 154.094px;
    padding: 0px 40px;
    color: rgba(0, 0, 0, 0.58);
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: -0.16px;
}

.global-inner {
    display: flex;
}
.global-left, .global-right {
    padding: 0px 14.7692px;
}
.global-img {
    width: 345.23px;
    height: 345.23px;
    margin-bottom: 16px;
}
.global-title-inner {
    padding: 0px 40px;
}
.text-title {
    color: rgba(0, 0, 0, 0.58); 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}
.right-button {
    margin-top: 12px;
}
.global-bottom {
    padding-top: 64px;
}

.training-and-development-img {
    width: 720px;
    height: 330px;
    margin-bottom: 16px;
}
.training-and-development-title {
    padding: 0px 40px;
}

.explore-career-paths {
    margin: 64px 159.094px;
    padding: 0px 40px;
}
.explore-career-paths-head {
    color: rgba(0, 0, 0, 0.58);
    font-size: 19px;
    font-weight: 700;
    line-height: 28.5px;
    letter-spacing: 1.9px;
    margin-right: 16px;
    padding-bottom: 16px;
}
.flex-item {
    padding: 14.7692px 14.7692px 14.7692px 0px;
    width: 374.77px;
}
.flex-item:last-child {
    padding-left: 14.7692px;
}
.flex-item-inner {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.24) ;
}   
.flex-top, .flex-bottom {
   display: flex;
}
.item-content {
    padding: 16px;
}
.item-img img{
    border-start-end-radius: 15px;
    border-start-start-radius: 15px  
}
.text-top {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.16px;
    margin-bottom: 8px;
}
.text-under {
    color: rgba(0, 0, 0, 0.58);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.right-container-top {
    background-color: #f9f9f9 ;
}

.employee-spotlight {
    margin: 16px 154.094px 32px 154.094px;
    padding: 0px 40px;
    color: rgba(0, 0, 0, 0.58);
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: -0.16px;
}

.employeespotlight-big {
    margin: 32px 0px;
    padding: 0px 48px;
    max-width: 1108.2px;
}
.employeespotlight-medium {
    max-width: 800px;
    padding-right: 56px;
    margin-left: 106.094px;
    display: flex;  
}
.employeespotlight-img{
    min-width: 332px;
    min-height: 332px;
    margin-right: 40px;
}
.top-content {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-bottom: 8px;
}
.middle-content {
    color: rgba(0, 0, 0, 0.58);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;    
}
.bottom-content {
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    font-weight: 700;
    line-height: 28.5px;
    letter-spacing: -0.16px;
    margin-top: 8px;
}
.right-container-bottom {
    background-color: rgb(237, 235, 233);
    box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.24);
}
.right-container-bottom-inner {
    padding: 32px 40px 64px;
}
.grid-information-flex {
    display: flex;
}
.support {
    padding-right: 24px;
    width: 717.47px;
}
.support-content {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 1.4px;
    margin-bottom: 8px;
}
.support-title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.16px;
    width: 646.14px;
}
.follow {
    padding: 0px 24px;
    width: 358.73px;
}
.follow-content {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 1.4px;
    margin-bottom: 8px;
}
.follow-item {
    display: flex;
}
.follow-list-items {
    padding-top: 8px;
}
.follow-list-item {
    padding-bottom: 8px;
}
.follow-item img {
    width: 15px;
    height: 15px;
    margin-right: 16px;
    margin-top: 2.5px;
}
.follow-item-title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.16px;
}

.grid-information {
    margin-top: 48px;
    padding: 0px 24px 0px 0px;
    width: 717.47px;
}
.information-content {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 1.4px;
    margin-bottom: 8px;
}
.title-link {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.16px;
}
.under {
    margin-top: 21px;
}
/*<--->*/
/*footer*/
.footer__nav-bar {
    padding: 24px 40px;
}
.footer-column-title {
    margin-bottom: 16px;
    padding: 8px 0px;
}
.footer-column-dropdowm-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-column-dropdowm-title svg {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}
.footer-column-dropdowm-title span {
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: normal;
}
.item-link{
    color: #00000094;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
    padding: 8px 0px 8px 0px;
}
.footer-column:active .footer-column-list-items{
    display: block;
}

.footer-column-item {
    margin-bottom: 24px;
}
.footer-column-list-items {
    display:none;
}

.line-break{
    width: auto;
    border-top: 2px solid rgba(0, 0, 0, .1);
    margin-top:32px;
    margin-bottom: 32px;
}

.footer-social-links{
    width: auto;
    height: 51px;
    display: flex;
    align-items: flex-start;

}
.item-social-link{
    width: 44px;
    height: 44px;
    font-size: 16px;
    padding-right: 15px;
}
.footer-term-links {
    margin: 16px 0px 4px 0px;
}
.term-link {
    margin-bottom: 18px;
}
.item-term-link {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
    padding: 8px 0px;
}
.item-term-link:hover {
    text-decoration: underline;
}
.sb-copyright {
    padding: 16px 0px;
    color: rgba(0, 0, 0, 0.58);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
/*<--->*/